![](https://i.imgur.com/JsMvGnP.png)


## Exercícios de manipulação de dados - Parte 2

Neste Jupyter notebook você irá resolver uma exercícios utilizando a linguagem Python e a biblioteca Pandas.

Todos os datasets utilizados nos exercícios estão salvos na pasta **datasets**.

Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

### Tarefa 1. Importe o dataset e salve os dados em um dataframe

Os dados estão salvos no arquivo ***datasets/US_Crime_Rates_1960_2014.csv***.

Este dataset contém dados de crimes ocorridos nos Estados Unidos no período de 1960 até 2014.

Salve os dados em uma variável de nome *crime*.

In [1]:
import pandas as pd 
crime = pd.read_csv('datasets/US_Crime_Rates_1960_2014.csv')

In [2]:
crime.head(10)

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800
5,1965,193526000,4739400,387390,4352000,9960,23410,138690,215330,1282500,2572600,496900
6,1966,195576000,5223500,430180,4793300,11040,25820,157990,235330,1410100,2822000,561200
7,1967,197457000,5903400,499930,5403500,12240,27620,202910,257160,1632100,3111600,659800
8,1968,199399000,6720200,595010,6125200,13800,31670,262840,286700,1858900,3482700,783600
9,1969,201385000,7410900,661870,6749000,14760,37170,298850,311090,1981900,3888600,878500

### Tarefa 2. Qual o tipo de dados em cada coluna?

In [3]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

### Tarefa 3. Converta o tipo de dado da coluna Year para o tipo datetime

*Dica: procure na documentação da biblioteca como fazer tal conversão*

In [4]:
crime['Year'] = pd.to_datetime(crime['Year'], format='%Y')

In [5]:
crime.dtypes

Year                  datetime64[ns]
Population                     int64
Total                          int64
Violent                        int64
Property                       int64
Murder                         int64
Forcible_Rape                  int64
Robbery                        int64
Aggravated_assault             int64
Burglary                       int64
Larceny_Theft                  int64
Vehicle_Theft                  int64
dtype: object

### Tarefa 4. Configure a coluna Year como index do DataFrame.

*Dica: use a função set_index() do Pandas*

In [6]:
crime = crime.set_index('Year')

In [7]:
crime.head(10)

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960-01-01,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961-01-01,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962-01-01,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963-01-01,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964-01-01,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800
1965-01-01,193526000,4739400,387390,4352000,9960,23410,138690,215330,1282500,2572600,496900
1966-01-01,195576000,5223500,430180,4793300,11040,25820,157990,235330,1410100,2822000,561200
1967-01-01,197457000,5903400,499930,5403500,12240,27620,202910,257160,1632100,3111600,659800
1968-01-01,199399000,6720200,595010,6125200,13800,31670,262840,286700,1858900,3482700,783600
1969-01-01,201385000,7410900,661870,6749000,14760,37170,298850,311090,1981900,3888600,878500

### Tarefa 5. Remova a coluna Total do DataFrame.

In [8]:
crime = crime.drop(columns='Total')

In [9]:
crime.tail(10)

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
2005-01-01,296507061,1390745,10174754,16740,94347,417438,862220,2155448,6783447,1235859
2006-01-01,299398484,1418043,9983568,17030,92757,447403,860853,2183746,6607013,1192809
2007-01-01,301621157,1408337,9843481,16929,90427,445125,855856,2176140,6568572,1095769
2008-01-01,304374846,1392628,9767915,16442,90479,443574,842134,2228474,6588046,958629
2009-01-01,307006550,1325896,9337060,15399,89241,408742,812514,2203313,6338095,795652
2010-01-01,309330219,1251248,9112625,14772,85593,369089,781844,2168457,6204601,739565
2011-01-01,311587816,1206031,9052743,14661,84175,354772,752423,2185140,6151095,716508
2012-01-01,313873685,1217067,9001992,14866,85141,355051,762009,2109932,6168874,723186
2013-01-01,316497531,1199684,8650761,14319,82109,345095,726575,1931835,6018632,700294
2014-01-01,318857056,1197987,8277829,14249,84041,325802,741291,1729806,5858496,689527

### Tarefa 6. Encontre o número de roubos de carro do ano de 1978.

In [10]:
crime.loc['1978-01-01':'1978-12-31']['Robbery']

Year
1978-01-01    426930
Name: Robbery, dtype: int64

### Tarefa 7. Retorne a linha do ano em que houve o maior número de assasinatos. 

*Dica: use a coluna Murder como referência.*

In [11]:
crime.loc[crime['Murder'].idxmax()]

Population            252177000
Violent                 1911770
Property               12961100
Murder                    24700
Forcible_Rape            106590
Robbery                  687730
Aggravated_assault      1092740
Burglary                3157200
Larceny_Theft           8142200
Vehicle_Theft           1661700
Name: 1991-01-01 00:00:00, dtype: int64

### Tarefa 8. Retorne o número de assassinatos do ano em que foi registrado o menor número de roubo de carros.

In [13]:
crime['Murder'].loc[crime['Vehicle_Theft'].idxmin()]

9110

**Parabéns! Você chegou ao fim**